* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
    font-style: normal;
}

.fs-13 {
    font-size: 13px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-25 {
    font-size: 25px;
}

.fs-20 {
    font-size: 20px;
}

.fs-1vw {
    font-size: 1.5vw;
}

.fs-30 {
    font-size: 30px;
}

.fs-2vw {
    font-size: 1.8vw;
}

.fs-2-7vw {
    font-size: 2.7vw;
    line-height: 53px;
}


.fs-40 {
    font-size: 40px;
}

.fs-50 {
    font-size: 50px;
}

.fs-3vw {
    font-size: 3vw;
}

.fs-4vw {
    font-size: 4vw;
}

.fWeight-400 {
    font-weight: 400;
}

.fWeight-500 {
    font-weight: 500;
}

.fWeight-600 {
    font-weight: 600;
}

.fWeight-700 {
    font-weight: 700;
}

.fWeight-800 {
    font-weight: 800;
}

.bg-nav {
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(75px);
}

.navHover:hover {
    background: transparent;
}

.colorGrey {
    color: #3D3D3D;
}


.colorchanging {
    background: linear-gradient(85.79deg, #FED631 6.44%, #2AB7CA 99.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bg-main {
    background: linear-gradient(73.86deg, #393021 0%, #082542 17.8%, #07133C 56.67%, #170F38 100%);
}


.CallWhite {
    width: 10%;
}

.landingBox {
    background: linear-gradient(73.86deg, #393021 0%, #082542 17.8%, #07133C 56.67%, #170F38 100%);
    box-shadow: 0px 18px 20px rgba(0, 0, 0, 0.25);
}

.purposeText {
    text-align: justify;
}

.UnionBox {
    width: 5%;
}

.teamContent h4 {
    font-size: 4vw;
}

.teamContent img {
    top: 0px;
    left: 138px;
    width: 60%;
}

.teamContent h1 {
    font-size: 10vw;
    line-height: 140px;
}

.find {
    background: linear-gradient(83.18deg, rgba(224, 227, 223, 0.5) 2.38%, rgba(193, 223, 252, 0.5) 47.26%, rgba(149, 242, 255, 0.49) 100%);
}

.findP-1 {
    line-height: 11vh;
}

.findh {
    font-size: 6vw;
    line-height: 11vh;
}

.findP-2 {
    font-size: 1.8vw;
    line-height: 5vh;
}

.clients h1 {
    font-size: 4vw;
    line-height: 63px
}

.contactUnion {
    top: 133px;
    right: 0px;
    z-index: -1;
    width: 45%;
}

.contactBg {
    background-image: url("../IMAGES/contactBg.svg");
    height: 100%;
    border-bottom-left-radius: 30px;
    background-repeat: no-repeat;
}

.address {
    font-size: 1.3vw;
}


.footerLine {
    line-height: 20px;
}

.footerContactImg {
    width: 25px;
}
.dropdown a.show{
    border-bottom: 5px solid #FFC107;
    border-color: #FFC107;
    
}
/*  #############################  TAB ########################### */
@media only screen and (max-width: 767px) {
    .dropdown-menu{
        background-color: #908c8c;
    }
    
    .landingDiv p {
        font-size: 3vw;
    }

    .CallWhite {
        width: 10%;
    }

    .values {
        font-size: 9vw;
    }

    .teamContent p {
        font-size: 2.5vw;
    }

    .purposeImg {
        width: 60%;
        text-align: center;
    }

    .purposeText {
        font-size: 4vw;
    }

    .ceo {
        font-size: 2.5vw;
    }

    .who-P {
        font-size: 3vw;
    }

    .togetherNoBox-p {
        font-size: 3.5vw;
    }

    .teamContent h4 {
        font-size: 4vw;
    }

    .teamContent img {
        top: 0px;
        left: 62px;
        width: 60%;
    }

    .teamContent h1 {
        font-size: 10vw;
        line-height: 45px;
    }

    .teamContent p {
        font-size: 2.2vw;
    }

    .name {
        font-size: 7vw;
    }

    .title {
        font-size: 6vw;
    }

    .whoText {
        font-size: 3vw;
        text-align: justify;
    }

    .findP-1 {
        font-size: 5vw;
    }

    .findP-2 {
        font-size: 3.5vw;
        line-height: 4vh;
    }

    .findh {
        font-size: 10vw;
        line-height: 8vh;
    }

    .four {
        width: 70%;
    }

    .clients h1 {
        font-size: 9vw;
        line-height: 50px;
    }

    .footer h5 {
        font-size: 4vw;
    }

    .footerLink a {
        font-size: 15px;
    }

    .footer i {
        font-size: 7vw;
    }

    .footer .Copyright {
        font-size: 16px;
    }

}

/*  ############################# MOBILE ########################### */
@media only screen and (max-width: 576px) {
    .landingDiv p {
        font-size: 4vw;
    }

    .teamContent h4 {
        font-size: 6vw;
    }

    .teamContent img {
        top: 0px;
        left: 45px;
        width: 60%;
    }

    .teamContent h1 {
        font-size: 11vw;
        line-height: 25px;
    }

    .teamContent p {
        font-size: 4vw;
    }

    .UnionBox {
        width: 8%;
    }

    .values {
        width: 20px;
    }

    .purposeText {
        font-size: 5vw;
    }

    .purposeText {
        font-size: 5vw;
    }

    .whoText {
        font-size: 4vw;
        text-align: justify;
    }

    .findP-1 {
        font-size: 7.5vw;
        line-height: 45px;
    }

    .findh {
        font-size: 12vw;
        line-height: 6vh;
    }

    .findP-2 {
        font-size: 4.3vw;
        line-height: 3.5vh;
    }

    .contactMobileUnion {
        z-index: 0;
        top: 100px;
        width: 100%;
    }

    .textIndex {
        z-index: 1;
    }

    .footerLogo img {
        width: 70%;
    }

    .footer .Copyright {
        font-size: 12px;
    }

    .resume {
        font-size: 3.5vw;
    }
}